body {
    background-color: #181818;
    color: #f8f9fa;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding-bottom: 30px;
}
h1 {
    font-weight: bold;
}
.accordion-button {
    background-color: #212529;
    color: #f8f9fa;
    border: none;
}
.accordion-button:hover {
    background-color: #343a40;
    color: #f8f9fa;
}
.list-group-item {
    background-color: #212529;
    color: #f8f9fa;
    border: none;
}
.list-group-item a {
    color: #ffc107;
    text-decoration: none;
}
.list-group-item a:hover {
    text-decoration: underline;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #212529;
    color: #f8f9fa;
    text-align: center;
    padding: 10px 0;
}