body {
    background-color: #EFF3EA;
    color:#1F509A;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding-bottom: 30px;
}
.app-bar{
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 16px;
}
h1 {
    font-weight: bold;
}
.accordion-button {
    background-color: #212529;
    color: #f8f9fa;
    border: none;
}
.accordion-button:hover {
    background-color: #343a40;
    color: #f8f9fa;
}
.list-group-item {
    background-color: #212529;
    color: #f8f9fa;
    border: none;
}
.list-group-item a {
    color: #ffc107;
    text-decoration: none;
}
.list-group-item a:hover {
    text-decoration: underline;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #0d0e0f;
    text-align: center;
    padding: 10px 0;
}

pre {
    background-color: #f8f9fa;  
    color: #333;  
    padding: 10px;  
    font-size: 1rem; 
    border-radius: 5px;  
}

.sticky-back-link {
    position: sticky;
    top: 0; 
    background-color: rgb(10, 10, 10); 
    z-index: 1000; 
    padding: 0.5rem 0; 
    border-bottom: 1px solid #ddd; 
}

.note-card{
        background-color: #fff;
        border-radius: 8px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        padding: 30px;
        color: black;
       
        
}
.notes-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.note-navigation{
    display: flex;
    justify-content: end;
}
